@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Montserrat&family=Poppins&display=swap');

li{
  list-style: none;
}
.boton-eliminar-carrito{
  outline: none;
  display: inline-block;
  padding: 5px;
  outline: none;
  margin: 10px;
}

.boton-eliminar-carrito:hover{
  background-color: black;
}
.carrito-vacio{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f1f1f1;
  background-color: #101d4be3;
  width: 300px;
  height: 300px;
  margin: auto;
  margin-top: 200px;
  border: solid, 1px, #f1f1f1;
}
.boton-regresar{
  color: #ffff;
  background-color: #3845ff;
  border: none;
  border-radius: 6px;
  margin: 15px 10px 0 10px;
  padding: 10px;
  outline: none;
  font-size: 16px;
  text-decoration: none;
}
.container2{
  width: fit-content;
  background-color: #101d4be3;
  margin: auto;
  margin-top: 140px;
  display: flex;
  justify-content: center;
  border: solid, 1px, #f1f1f1 ;
}

.fila{
  padding: 15px;
}
.fila-carrito{
  display: flex;
  justify-content: space-between;
  height: 150px;
  width: 400px;
  background-color: #101d4be3;
  border:solid 1px #c4c2c2;
  margin: 10px;
}
.fila-imagen{
  margin: 10px;
}
.fila-contenido{
  display: flex;
  width: 160px;
  flex-direction: column;
  justify-content: left;
  margin: 20px;
}
.columna-titulo{
  color: #f1f1f1;
  font-size: 16px;
  margin: 0;
}
.columna-texto{
  color: #f1f1f1;
  margin: 5px;
}
.columna-price{
  color: #f1f1f1;
  margin: 5px;
}
.resumen{
  color: #f1f1f1;
  background-color: #101d4be3;
  width: 300px;
  height: fit-content;
  margin: 25px 25px 25px 5px;
  padding: 15px;
  border:solid 1px #c4c2c2;
}

.resumen-titulo{
  color: #f1f1f1;
  margin: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  
}
.resumen-productos, .resumen-entrega, .resumen-total{
  display: flex;
  justify-content: space-between;
  color: #f1f1f1;
  margin: 20px;
}

.resumen-total{
  padding-top: 20px;
  border-top: solid 1px #c4c2c2;
}

.boton-pagar{
  display: block;
  margin: auto;
  width: 80%;
  color: #f1f1f1;
  background-color: #007AFF;
  border: none;
  border-radius: 6px;
  padding: 5px;
  outline: none;
}