@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Montserrat&family=Poppins&display=swap');


li{
  list-style: none;
}
.boton-eliminar-carrito{
  outline: none;
  display: inline-block;
  padding: 5px;
  outline: none;
  margin: 10px;
}

.boton-eliminar-carrito:hover{
  background-color: black;
}

.container2{
  margin-top: 200px;
  width: fit-content;
  background-color: #101d4be3;
  margin: auto;
  display: flex;
}

.fila{
  /* background-color: #101d4be3; */
  /* border: solid, 1px, #f1f1f1 ; */
}

.container2{
  display: flex;
  justify-content: center;
  margin-top: 140px;
  border: solid, 1px, #f1f1f1 ;
}
.fila-carrito{
  display: flex;
  height: 200px;
  width: 400px;
  background-color: #101d4be3;
  border:solid 1px #c4c2c2;
  margin: 20px;
}
.fila-imagen{
  margin: 10px;
}
.fila-contenido{
  margin: 20px;
}
.fila-titulo{
  color: #f1f1f1;
}
.fila-texto{
  color: #f1f1f1;
}
.resumen{
  color: #f1f1f1;
  background-color: #101d4be3;
  width: 300px;
  margin: 20px;
 /*  border:solid 1px #c4c2c2; */
}

.resumen-titulo{
  color: #f1f1f1;
  margin: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  
}
.resumen-productos, .resumen-entrega, .resumen-total{
  display: flex;
  justify-content: space-between;
  color: #f1f1f1;
  margin: 20px;
}

.resumen-total{
  padding-top: 20px;
  border-top: solid 1px #c4c2c2;
}

.boton-pagar{
  display: block;
  margin: auto;
  width: 80%;
  color: #f1f1f1;
  background-color: #007AFF;
  border: none;
  border-radius: 6px;
  padding: 5px;
  outline: none;
}