@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Montserrat&family=Poppins&display=swap');


li{
  list-style: none;
}
.eliminar{
  margin-left: 10px;
}
button.boton-agregar{
  color: #ffff;
  background-color: #3845ff;
  border: none;
  border-radius: 6px;
  width: 90%;
  margin: 15px 10px 0 10px;
  padding: 5px;
  outline: none;
  font-size: 16px;
}
button.boton-agregar:active, button.boton-agregar:hover{
  background-color: #042eb6;
  cursor: pointer;
}

.boton-eliminar{
  background-color: #1c1f22;
  border: none;
  outline: none;
  display: inline-block;
}
.boton-eliminar:hover{
  background-color: black;
}
.container1{
  margin-top: 150px;
  margin-bottom: 150px;
  display: flex;
  flex-direction: row;
  max-width: 100vw;
  height: 100vh;
  justify-content: center;
  align-content: space-between;
  font-family: 'Poppins', sans-serif;
}
.cards{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 10px;
  width: 70vw;
  height: auto;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}
.card{
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 20px;
  padding-bottom: 10px;
  color: #f1f1f1;
  background-color:rgba(255, 255, 255, 0.082);
}

.card-img{
  display: block;
  width: 200px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.card-title, .card-text{
  margin: 5px;
  width:200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow:hidden;
  text-align: center;
 
  
}
.card-title{
  font-size: 16px;
}
.card-price{
  color: #ffff;
/*   background-color: #0b159e;
 */  text-align: center;
}
#carrito{
  margin-left: 6px;
}

.dropbtn {
  background-color: #343a40;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}


.dropbtn:hover, .dropbtn:focus {
  background-color: #1c1f22;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-lista{
  color: #ffff;
  display: flex;
  justify-content: space-between;
}
.dropdown-lista:hover{
  background-color: black;
}
.dropdown-items{
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #1c1f22;
  padding: 10px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

.show {display:block;}


.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}

.item-agregadofalse{
  display: none;
}
.item-agregadotrue{
  display: flex;
  justify-content:space-between;
  width: 500px;
  padding: 20px;
  align-items: center;
  border-radius: 12px;
  color: #ffff;
  position: fixed;
  top: 120px;
  right: 20px;
  margin: auto;
  background-color: #192b6ebe;
  cursor: pointer;
  /* visibility: hidden; */
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}