@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Montserrat&family=Poppins&display=swap');

nav.navbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: white;
    text-decoration: none;
    background-color: #0c163ade;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
}
.navbar-brand{
    text-decoration: none;
    color: #ffff;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    margin-left: 5vw;
}
a.nav-link{
    text-decoration: none;
    color: #ffff;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}
.navbar-drop{
    display: flex;
    justify-content: space-between;
    color: #ffff;
    text-decoration: none;
}
.dropbtn{
    background-color: #0c163a;
    outline: none;
}
.dropbtn:hover{
    background-color: #050a1b;
}
.navbar-nav{
    display: flex;
    color: #ffff;
    text-decoration: none;
    align-items: center;
    margin-right: 20px;
}
.dropdown-items{
    position: absolute;
    right: 10px;
    background-color: #0c163ade;
    display: none;
}
.dropdown-lista{
    width: 300px;
    overflow:hidden ;
    text-overflow: ellipsis; 
}
.dropdown-lista:hover .boton-eliminar{
    display: inline;
}
.boton-eliminar{
    display: none;
    background-color: #080f28;
    margin: 10px;
}
.boton-ver{
    color: #ffff;
    background-color: #007AFF;
    border: none;
    border-radius: 6px;
    margin-top: 15px;
    padding: 5px;
    outline: none;
}
.cerrar-popup{
    display: none;
}
.item-agregado{
    display: flex;
    justify-content:space-between;
    width: 500px;
    padding: 20px;
    align-items: center;
    border-radius: 12px;
    color: #ffff;
    position: absolute;
    top: 120px;
    right: 0;
    left: 0;
    margin: auto;
    background-color: #192b6ede;
    cursor: pointer;
    /* visibility: hidden; */
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }

  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }